# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo
* @ROCm/TEAM_AITER

/.github/CODEOWNERS @valarLip @coderfeli @vgokhale @azaidy

# Triton files/bench/tests
/aiter/ops/triton/ @ROCm/Triton_Kernels_Team
/op_tests/triton_tests/ @ROCm/Triton_Kernels_Team
/op_tests/op_benchmarks/triton/ @ROCm/Triton_Kernels_Team

# Gluon files
/aiter/ops/triton/gluon/ @ROCm/Triton_Kernels_Team @coderfeli
