[submodule "3rdparty/composable_kernel"]
	path = 3rdparty/composable_kernel
	url = https://github.com/ROCm/composable_kernel.git
[submodule "3rdparty/Flydsl"]
	path = 3rdparty/Flydsl
	url = git@github.com:ROCm/Flydsl
