pandas
pytest
psutil
matplotlib
pyyaml
einops
pybind11>=3.0.1
ninja
flydsl @ https://rocm.frameworks-nightlies.amd.com/whl/gfx942-gfx950/flydsl-0.1.0%2B20260318.2ca3913-cp312-cp312-manylinux_2_35_x86_64.whl
