pandas
pytest
psutil
matplotlib
pyyaml
einops
pybind11>=3.0.1
ninja
flydsl @ https://rocm.frameworks-devreleases.amd.com/whl/gfx942-gfx950/flydsl/flydsl-0.1.6.dev20260508%2B05f188b-cp312-cp312-manylinux_2_27_x86_64.whl
